rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Grilles de Bingo
    match /bingo_grids/{document=**} {
      allow read, write: if true;
    }
    // Profils utilisateurs (Pseudo)
    match /bingo_users/{document=**} {
      allow read, write: if true;
    }
  }
}
